.about-us{
    margin: 20px 70px;
}
.about-title h1{
    font-size: 50px;
}
.about-title p{
    margin-top: 20px;
    font-size: 25px;
    color: gray;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.about-container h1{
    margin-top: 20px;
}
.about-container img{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s;
}
.about-container img:hover{
    transform: scale(1.1);
}
.about-container h1{
    color: gray;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
}